@model Faculdade.Models.Aluno

@{
    ViewData["Title"] = "Deletar Aluno";
}

<h1>Delete Aluno</h1>

<h3>Você tem certeza que deseja APAGAR isso?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataNascimento, "{0:d MMM yyyy}", new {@disabled="true"})
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn btn-danger btn-sm" /> |
        <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar a Lista</a>
    </form>
</div>
